@import "tailwindcss";

@theme {

    --font-inter: "inter";
    --font-heading: "EB Garamond";
    --font-logo: "Ibarra Real Nova", serif;

    --color-primary-warm: #29445A;
    --color-test-red: #FF0000;
    --color-brand-bg: #FAF8F5;
    --color-bluetext: #162839;
    --color-graycol: #43474C;
}

@layer base {
    body {
        font-family: var(--font-inter);
        background-color: var(--color-brand-bg);
    }

    h1 {
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 500;

    }

    h2 {
        font-size: 2rem;
        line-height: 48px;
        font-weight: 500;
        letter-spacing: -.8px;

    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 500;

    }

    h4 {
        font-size: 0.9375rem;

        line-height: 1.4;
        font-weight: 600;

    }

    button {
        cursor: pointer;
    }

    .container {
        @apply w-full max-w-[1280px] mx-auto px-6;
    }




}



@utility navlink {


    @apply text-[15px] font-bold hover:text-primary-warm transition-all duration-300 opacity-60;


}

@utility row {

    @apply flex items-center;

}



@layer components {
    .para {

        @apply text-[#43474C] text-[11px] leading-[16.5px];


    }
}

@layer components {

    .price {
        @apply font-semibold text-[18px] leading-[28px]
    }
}