@import "tailwindcss";

@theme {

    --font-inter: "inter";
    --font-heading: "EB Garamond";
    --font-logo: "Ibarra Real Nova", serif;

    --color-primary-warm: #29445A;
    --color-test-red: #FF0000;
    --color-brand-bg: #FAF8F5;
}

@layer base {
    body {
        font-family: var(--font-inter);
        background-color: var(--color-brand-bg);
    }

    h1 {
        font-size: 3rem;
        line-height: 1.2rem;
        font-weight: 500;

    }

    h2 {
        font-size: 2rem;
        line-height: 1.2rem;
        font-weight: 500;

    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.2rem;
        font-weight: 500;

    }

    button {
        cursor: pointer;
    }

    .container {
        @apply mx-auto;
        @apply px-6;
        @apply md:px-0;
    }


}

@utility custom-container {
    @apply mx-auto px-6 md:px-0 max-w-[1280px] w-full;
}

@utility navlink {


    @apply text-[15px] font-bold hover:text-primary-warm transition-all duration-300 opacity-60;


}

@utility row {

    @apply flex items-center;

}